@import "tailwindcss";

@layer base {
  :root {
    /* Light Theme Colors */
    --background: #ffffff;
    --foreground: #0f172a;
    --card-bg: rgba(255, 255, 255, 0.7);
    --border: rgba(0, 0, 0, 0.1);
    --grid-line: rgba(0, 0, 0, 0.05);
    --nav-hover: #f1f5f9;
  }

  [data-theme="dark"] {
    /* Dark Theme Colors */
    --background: #000000;
    --foreground: #ffffff;
    --card-bg: rgba(0, 0, 0, 0.7);
    --border: rgba(255, 255, 255, 0.1);
    --grid-line: rgba(255, 255, 255, 0.05);
    --nav-hover: rgba(255, 255, 255, 0.05);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    background-image: linear-gradient(var(--grid-line) 1px, transparent 1px),
      linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
